.report{
    background-color: #4AA39F;
    display: flex;
    justify-content: center;
    /*width: 80vw;*/
    /*height: 60vh;*/
}
.report__resume{
    margin-top: 2vh;
    margin-bottom: 6vh;
    display: flex;

    border-width: 1px;
    background: white;
    border-radius: 10px;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12)
;
}
/*@media screen and (max-width: 1024px){*/
/*    .report__resume{*/
/*        */
/*    }*/
/*}*/
